.header-color {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    /* #434343, */
    #000000,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    /* #434343, */
    #000000,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-text h1 {
  padding-top: 3em;
  /* height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center; */
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 58%;
  margin: auto;
}


.desc h1 {
  text-align: center;
  font-size: 32px;
  /* position: fixed;
  top: 25%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px; */
  color: #c4c4c4;
}

.desc p {
  color: #b2b2b2;
  font-size: 20px;
  padding: 1em;
}

a.active {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #03dac5;
}

.modalbody {
  background-color: #121212;
  color: #121212;
  border-radius: 20 !important;
}
.topicOLFoot {
  background-color: #121212;
  border: 0px !important;
}
.show-grid {
  background-color: #121212;
  color: #121212;
  border-radius: 10;
}
.modalbg {
  /* background-color: #121212; */
  opacity: 95%;
  color: #121212 !important;
  /* filter: blur(2px); */
  border-radius: 10;
}

.container {
  margin: 50px 0;
  padding-left: 0%;
}

.card {
  margin: 0 2% !important;
}

.confirmed {
  border-bottom: 10px solid #ff0266;
}

.recovered {
  border-bottom: 10px solid #03dac5;
}

.deaths {
  border-bottom: 10px solid #923ff7;
}

.mdl-layout__content {
  background-color: #121212;
}
.fill-window {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.datepicker {
  background-color: #c4c4c4;
  font-size: 1.3rem;
  border-radius: 10px;
  margin: 1rem;
}
#frompicker {
  float: right;
  color: #b2b2b2;
  font-size: 20px;
  border-radius: 10px;
}
#topicker {
  float: right;
  color: #b2b2b2;
  font-size: 20px;
  border-radius: 10px;
}
#checkTrend {
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: #c4c4c4;
  color: black;
  margin: 1rem;
  border-color: #000000;
  float: right;
  margin-top: 1rem;
  width: 0;
  opacity: 0;
}
.r-modalbg {
  /* background-color: #ffffff; */
  opacity: 85%;
  /* color: #ffffff; */
  border-radius: 10px;
}
.r-modalbody {
  background-color: #ffffff;
  color: #121212;
  border-radius: 10px;
}
